* {
  font-family: Arial, Helvetica, sans-serif
 }

 body{
   background-color: darkslateblue;
   font-family: Arial, Helvetica, sans-serif
 }
 a {
  color: darkblue;
}
a:hover {
  /* background-color: darkblue; */
  font-weight: bold;
  font-size: larger;
}

  /* HEADER */
  header{
    position: relative;
    padding: 30px;
    background: linear-gradient(to right, white, blue, purple, brown, black);
    }

h1{
  color: #black;
  text-align-last: center;
  text-shadow: 3px 1 1 darkslategray, 0 -3px 0 darkslategray;
  font-size: 60px;
  }

  /* FOOTER  */

  #savvy {
    display: inline-block;
    padding: 20px;
    text-align: center;
    align-items: center;
    color: black
  }
  /* hovering over savvycoders link */
#savvy:hover {
  background-color: white;
  color: lightblue;
font-weight: bold;
font-size: larger;
border-radius: 70px;
}

  #logo {
    height: 13%;
    width: 13%;
    float: right;
    margin: 10px;
  }

 /* HOME PAGE */

 #jumbotron {
background: url('./assets/arm.jpg') center center no-repeat;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 90vh;
 }

 #jumbotron > h2 {
  color: darkblue;
  background-color: white;
  text-align: center;
}

#jumbotron > h4 {
  color: darkblue;
  background-color: white;
  text-align: center;
}

  /* NAV BAR  */
/* Hamburger icon */
.fa-bars {
  display: none; /* Hide the hamburger icon by default */
  color: white; /* Set the color of the hamburger icon */
  cursor: pointer; /* Add cursor pointer for interaction */
  font-size: 24px; /* Adjust the font size as needed */
  margin-right: 10px; /* Add some spacing */
}

@media (max-width: 768px) {
  .fa-bars {
    display: inline-block; /* Show the hamburger icon for screens up to 768px */
  }
}

/* Mobile menu */
.hidden--mobile {
  display: none; /* Hide the mobile menu by default */
}
nav ul:not(.hidden--mobile) {
  display: block;
}
@media (min-width: 375px) {
  .hidden--mobile {
    display: none; /* Show the mobile menu for screens up to 768px */
  }
}

nav {
display: flex;
/* align-items: left; */
justify-content: space-between;
margin: 1px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 5%;
padding-right: 35%;
font-size: 100%
/* text-shadow: 1px 1 1 black, 0 -1px 0 black; */

nav ul {
  display: none;
}
@media (min-width: 375px) {
  nav ul {
    display: block; /* Show the full navigation list for screens 375px and above */
  }
}
}
nav ul li{
list-style-type: none;
display: inline-block;
padding: 10px 20px;
font-weight: bold;
}
nav ul li a {
  color: white;
text-decoration: none;
font-weight: bold;
}
nav ul li a:hover{
color:darkslategray;
text-shadow: 1px 1 1 black, 0 -1px 0 black;
transition: 0.2x;
}


/* MY TRAINING PAGE */

#jumbotrontwo {
  background: url(./assets/armbar.jpg) center center no-repeat;
  background-color: white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
   }

/* MOVES FORM */
div.form{
  box-sizing: border-box;
  text-align: center;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 20px;
  border: 5px solid lightslategray;
  border-radius: 4px;
  resize: vertical;
}
/* this spreads boxes out */
label {
  padding: 15px 12px 18px 0;
  display: inline-block;
}
input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  /* rounds out edges */
  border-radius: 11px;
  cursor:pointer;
  float: right;
}
/* hovering over submit button */
input[type=submit]:hover {
  background-color: purple;
}
/* the form itself centered, text left  */
form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: black;
 }

 ::placeholder {
  color:black;
 }
   /* MY TRAINING - FORM for LIBRARY */




/* ABOUT PAGE */
#aboutp {
font-size: x-large;
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
text-align: center
}

#falldiv {
  margin: auto;
  width:50%;
  padding: 10px;
  border: 10px black;
}

#fall {
max-width: 100%;
height: auto;
}


