* {
  background-color: #3F7969ff;
  font-family: sans-serif;
 }

h1{
color: #00563Bff;
text-align-last: center;
text-shadow: 1px 0 0 #000, 0 -1px 0 #000;
font-size: 50px;
}

@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
  }

  /* NAV BAR  */
.start {
height: 100vh;
width: 100%;
background-image:linear-gradient(rgba(0,0,0,0.6),(0,0,0,0.6),url(../Capstone/assets/delariva.jpg))
background-size:cover;
background-position: center;
}
nav{
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 20px;
padding-left: 10%;
padding-right: 10%;
}
.logo{
color:white;
font-size: 28px;
}
nav ul li{
list-style-type: none;
display: inline-block;
padding: 10px 20px;
}
nav ul li a {
  color: white;
text-decoration: none;
font-weight: bold;
}
nav ul li a:hover{
color:darkolivegreen;
transition: 0.3x;
}



/* main page */


/* about me page */
#aboutp {
font-size: x-large;
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
}

#falldiv {
  margin: auto;
  width:50%;
  padding: 10px;
  border: 10px black;
}

#fall {
max-width: 100%;
height: auto;
}




