* {
  background-color: #3F7969ff;
  font-family: Arial, Helvetica, sans-serif
 }

  /* HEADER */
  header{
    position: relative;
    padding: 10px;
  }
h1{
  color: #black;
  text-align-last: center;
  text-shadow: 3px 1 1 #00563Bff, 0 -3px 0 #00563Bff;
  font-size: 60px;
  }

  #logo {
    height: 12%;
    width: 12%;
    float: left;
  }

 /* HOME PAGE */

 #jumbotron {
background: url('./assets/start.jpg') center center no-repeat;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 90vh;
 }

 #jumbotron > h2 {
  color: white;
  background-color: black;
  text-align: center;
}

#jumbotron > h4 {
  color: white;
  background-color: black;
  text-align: center;
}

  /* NAV BAR  */
nav {
display: flex;
align-items: center;
justify-content: space-between;
margin: 10px;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 20%;
padding-right: 10%;
font-size: 100%
/* text-shadow: 1px 1 1 black, 0 -1px 0 black; */
}
nav ul li{
list-style-type: none;
display: inline-block;
padding: 10px 20px;
font-weight: bold;
}
nav ul li a {
  color: white;
text-decoration: none;
font-weight: bold;
}
nav ul li a:hover{
color:#00563Bff;
text-shadow: 1px 1 1 black, 0 -1px 0 black;
transition: 0.3x;
}


/* MY TRAINING PAGE */

#jumbotrontwo {
  background: url(./assets/armbar.jpg) center center no-repeat;
  background-color: white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
   }


/* about me page */
#aboutp {
font-size: x-large;
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
text-align: center
}

#falldiv {
  margin: auto;
  width:50%;
  padding: 10px;
  border: 10px black;
}

#fall {
max-width: 100%;
height: auto;
}


/* CONTACT PAGE */
div.form{
  display: block;
  text-align: center;
}
form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: black;
 }

 ::placeholder {
  color:black;
 }
